/*table tr th,
td,
.summary-class
{
border-collapse: collapse;
border : 1px solid black;
color:red;
text-align:center;

}*/
*{
	margin :0;
	padding : 0;
	box-sizing : border-box;
}

.blank
{
border-collapse: collapse;
}
.alt {
	background-color: #c0ecef;
}
html{
	background-color:#fff;
	color :#555;
	font-weight: 300;
	font-size: 20 px;
	text-rendering: optimizeLegibility;
	
}

.{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

th {
	color: #9595ff;
}

td {
	color: #d0470d;
}
.header{
	width:1140px;
	margin-left:auto;
	margin-right:auto;
}
.header_text{
	text-align:center;
	border-top: 1px solid #808080;
}

.invest_section{
	float: left;
}

body{
font-family: Helvetica Neue,Arial;
font-size : 18px;	
/*background-color: #c0ecef;
*/
}

table
{
font-size : 13px;		
}
h1,h2{
	color: rgba(255,60,40);
	margin-bottom: 20px;
	
	
}
.exchange_text{
	font-size:22px;
}
h1{
	font-size : 40px;
}

h2{
	font-size : 20px;
}



.transactionsummary tr:nth-child(even) {
    background-color: #c0ecef;
}

#enableDivBlock{
	display: block;
	}
#disableDivBlock{
	display: none;
	}
}