table tr th,
td,
.summary-class
{
border-collapse: collapse;
border : 1px solid black;
color:red;
text-align:center;

}


.blank
{
border-collapse: collapse;
}

html{
	background-color:#fff;
	color :#555;
	font-weight: 300;
	font-size: 20 px;
	text-rendering: optimizeLegibility;
	
}

.{
	margin:0;
	padding:0;
	box-sizing:border-box;
}